@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<TriThucOnline_TTN.Models.ViewModel.DAUSACHViewModel>

<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="80">
                    <span class="text-primary">Mã</span>
                </th>
                <th>
                    <span class="text-primary">Tên sách</span>

                </th>
                <th>
                    <span class="text-primary">Ảnh bìa</span>

                </th>
                <th>
                    <span class="text-primary">Số lượng tồn</span>

                </th>
                <th>
                    <span class="text-primary">khoá học</span>

                </th>
                <th>
                    <span class="text-primary">NXB</span>

                </th>
                <th><span class="text-primary">Chức năng</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="80">
                        @Html.DisplayFor(modelItem => item.MaSach)
                    </td>
                    <td width="200">
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td>
                        <div id="AnhBia">
                            <img src="@Url.Content("~/Content/HinhAnhSP/"+item.PicBook)" class="img-responsive" style="width: 150px; height: auto"/>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhoaHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNXB)
                    </td>
                    <td>
                       
                        <a href="/QuanLySach/ChinhSua?MaSach=@item.MaSach"><i class="far fa-edit"></i></a>
                        @*<a href="/QuanLySach/HienThi?MaSach=@item.MaSach" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-eye-open"></i></a>*@
                        <button onclick="ChiTietSach('@item.MaSach')"><i class="fas fa-info-circle"></i></button>
                        <button onclick="delete_article('@item.MaSach')"><i class="far fa-trash-alt" style="color:red"></i></button>

</td>
                </tr>
            }
        </tbody>
    </table>
</div>