@model IEnumerable<TriThucOnline_TTN.Models.DAUSACH>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th width="80">
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaSach)</span>
                    </th>
                    <th>
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().TenSach)</span>

                    </th>
                    <th>
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().PicBook)</span>

                    </th>
                    <th>
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().SoLuongTon)</span>

                    </th>
                    <th>
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaKhoaHoc)</span>

                    </th>
                    <th>
                        <span class="text-primary">@Html.DisplayNameFor(model => model.First().MaNXB)</span>

                    </th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="80">
                            @Html.DisplayFor(modelItem => item.MaSach)
                        </td>
                        <td width="200">
                            @Html.DisplayFor(modelItem => item.TenSach)
                        </td>
                        <td>
                            <div id="AnhBia">
                                <img src="@Url.Content("~/Content/HinhAnhSP/"+item.PicBook)" class="img-responsive" />
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongTon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KHOAHOC.TenKhoaHoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NXB.TenNXB)
                        </td>
                        <td>
                            @*@Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Hiển thị", "HienThi", new { @MaSach = item.MaSach }) |
                            @Html.ActionLink("Xoa", "Xoa", new { @MaSach = item.MaSach })*@

                            <a href="/QuanLySach/ChinhSua?MaSach=@item.MaSach"><i class="far fa-edit"></i></a>
                            @*<a href="/QuanLySach/HienThi?MaSach=@item.MaSach" class="btn btn-primary btn-sm btn-color-primary"><i class="glyphicon glyphicon-eye-open"></i></a>*@
                            <a onclick="ChiTietSach('@item.MaSach')"><i class="fas fa-info-circle"></i></a>
                            <a href="/QuanLySach/Xoa?MaSach=@item.MaSach"><i class="far fa-trash-alt" style="color:red"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>