@model TriThucOnline_TTN.Models.DAUSACH

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<h2>Thêm mới<hr /></h2>
@*Thêm thuộc tính cho form để upload ảnh*@
@using (Html.BeginForm("ThemMoi", "QuanLySach", FormMethod.Post, new { @enctype = "multipart/form-data", @id =  "input_form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="form-group">
        <span class="control-label col-md-3"><strong>Tên sách(*)</strong></span>
        <div class="col-md-6">
            @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "required form-control" } })
            @Html.ValidationMessageFor(model => model.TenSach)
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Giá bán(*)</strong></span>
        <div class="col-md-6">
            @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new { @class = "required form-control" } })
            @Html.ValidationMessageFor(model => model.GiaTien)
        </div>
    </div>



    <div class="form-group">
        <span class="control-label col-md-3"><strong>Ngày cập nhật(*)</strong></span>
        <div class="col-md-6">
            @Html.EditorFor(model => model.NamXuatBan, new { htmlAttributes = new { @class = "required form-control", @id = "NgayCapNhat" } })
            @Html.ValidationMessageFor(model => model.NamXuatBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Ảnh bìa(*)</strong></span>
        <div class=" col-md-6">
            @* lay ten anh trong database cho feild AnhBia (tránh trường hợp không thêm ảnh mới) *@
            <input id="PicBook" name="PicBook" type="text" value="@Model.PicBook" hidden>
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px">
                <img id="output" src="@Url.Content("~/Content/HinhAnhSP/" + Model.PicBook)" style="width: 200px; height: 150px">
            </div>
            <input type="file" class="form-control-file" name="fileUpload" value="@Model.PicBook" onchange="loadFile(event)" accept="image/*" />

            <script>
                var loadFile = function (event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>
            <p class="text-danger"><br />@ViewBag.ThongBao</p>
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Số lượng tồn(*)</strong></span>
        <div class="col-md-6">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "required form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon)
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Thể loại(*)</strong></span>
        <div class="col-md-6">
            @Html.DropDownListFor(Model => Model.MaTL, (SelectList)ViewBag.MaTL, "-- Chọn thể loại --", new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.MaTL, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Nhà xuất bản(*)</strong></span>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.MaNXB, (SelectList)ViewBag.MaNXB, "-- Chọn NXB --", new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.MaNXB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Tác giả(*)</strong></span>
        <div class="col-md-6">
            @Html.DropDownListFor(Model => Model.MaTG, (SelectList)ViewBag.MaTG, "-- Chọn tác giả --", new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.MaTG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Mới(*)</strong></span>
        <div class="col-md-6">
            <input type="radio" name="Moi" id="Moi" value="1" checked /> : Mới<br />
            <input type="radio" name="Moi" id="Moi" value="0" /> : Không<br />
            @*@Html.EditorFor(model => model.Moi)
                @Html.ValidationMessageFor(model => model.Moi)*@
        </div>
    </div>


    <div class="form-group">
        <span class="control-label col-md-3"><strong>Trích Dẫn(*)</strong></span>
        <div class="col-md-6">
            <textarea name="TrichDan" id="TrichDan" class="required form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3"><strong>Số trang</strong></span>
        <div class="col-md-6">
            @Html.EditorFor(model => model.SoTrang, new { htmlAttributes = new { @class = "required form-control" } })
            @Html.ValidationMessageFor(model => model.SoTrang)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-6">
            <input type="submit" value="Thêm mới" class="btn btn-success" />
        </div>
    </div>

</div>
}
@*<form id='input_form' method='post' class="form-horizontal">

    <fieldset>
        <div class="form-group">
            <label for="TenSach" class="control-label col-md-3">Tên sách :</label>
            <div class="col-md-6">
                <input type="text" value="" name="TenSach" id="TenSach" size="25" class="required form-control" placeholder="Tên sách..." />
            </div>
        </div>

        <div class="form-group">
            <label for="GiaBan" class="control-label col-md-3">Giá bán :</label>
            <div class="col-md-6">
                <input type="number" value="" name="GiaBan" id="GiaBan" size="25" class="required form-control" placeholder="Giá bán..." />
            </div>
        </div>

        <div class="form-group">
            <label for="NgayCapNhat" class="control-label col-md-3">Ngày cập nhật :</label>
            <div class="col-md-6">
                <input type="date" class="form-control" id="NgayCapNhat" name="NgayCapNhat">
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-3"><strong>Ảnh bìa(*)</strong></span>
            <div class="col-md-6">
                <div class="fileinput fileinput-new" data-provides="fileinput" style="height:150px">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px"></div>
                    <div class="pull-right" style="margin-left:5px;">
                        <span class="btn btn-default btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">
                                Change
                            </span>
                            <input id="fileUpload" type="file" name="fileUpload">
                        </span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            <label for="SoLuongTon" class="control-label col-md-3">Số lượng tồn :</label>
            <div class="col-md-6">
                <input type="number" value="" name="SoLuongTon" id="SoLuongTon" size="25" class="required form-control" placeholder="Số lượng tồn..." />
            </div>
        </div>

        <div class="form-group">
            <label for="TenChuDe" class="control-label col-md-3">Chủ đề :</label>
            <div class="col-md-6">
                @Html.DropDownList("MaChuDe")
            </div>
        </div>

        <div class="form-group">
            <label for="TenChuDe" class="control-label col-md-3">Nhà xuất bản :</label>
            <div class="col-md-6">
                @Html.DropDownList("MaNXB")
            </div>
        </div>

        <div class="form-group">
            <label for="Moi" class="control-label col-md-3">Mới :</label>
            <div class="col-md-6">
                <input type="radio" name="Moi" id="Moi" value="1" checked /> : Mới<br />
                <input type="radio" name="Moi" id="Moi" value="0" /> : Cũ<br />
            </div>
        </div>

        <div class="form-group">
            <label for="MoTa" class="control-label col-md-3">Mô tả :</label>
            <div class="col-md-6">
                <textarea rows="4" cols="50" name="MoTa" id="MoTa" class="required form-control" placeholder="Mô tả..."></textarea>
            </div>
        </div><div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <input type="reset" value="Điền lại" class="btn btn-default" />
            </div>
        </div>

    </fieldset>
</form>*@
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    document.getElementById("NgayCapNhat").value = year;
</script>