@using TriThucOnline_TTN.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("/Assets/User/css/style.css")
    @*link fontawesome --------------------------------------------------0*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    @*link google font----------------------------------------------------*@
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=vietnamese" rel="stylesheet">


    @*link  slick===========================================================*@

    <link rel="stylesheet" type="text/css" href="~/Scripts/slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/slick/slick/slick-theme.css" />
    <link href="~/Assets/User/css/scss/style.css" rel="stylesheet" />
    <link href="~/Assets/User/css/scss/responsive.css" rel="stylesheet" />
    <link href="~/Assets/User/css/scss/header.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <style>
        body {
            background-color: #f0f0f0;
        }

        .navbar {
            padding: 0rem 1rem;
            background-color: #ecd540 !important;
            font-family: arial
        }

        .navbar-brand {
            font-size: 2rem;
            margin-left: 345px;
            position: relative;
            z-index: 10;
        }

        .form_login--nguoidung {
            width: 40%;
            margin-top: 50px;
            background-color: white;
            border-radius: 15px;
            position: absolute;
            top: 20%;
            left: 30%;
        }

            .form_login--nguoidung .tab-content {
                padding-top: 25px;
            }

            .form_login--nguoidung .nav-item {
                width: 40%;
                margin: auto;
                background-color: white;
            }

        .form-group {
            margin-bottom: 0.5rem;
        }

        .quenmatkhau {
            margin-left: 350px;
            margin-bottom: 15px;
        }

        .form_login--nguoidung .nav-item .nav-link {
            color: black;
            text-align: center;
        }

        .nhapthongtin {
            padding-left: 30px;
        }

        .login-button, .register-button {
            text-align: center;
        }

        .nav-link.active {
            background-color: white !important;
            color: #f11499 !important;
            border-bottom: 2px solid #f11499;
            border-radius: 0px;
        }

        .btn-dangnhap .btn-success, .btn-dangky .btn-danger, .btn-boqua .btn-outline-warning, .btn-fb .btn-primary {
            width: 50%;
            margin: auto;
            margin-bottom: 15px;
            border-radius: 20px;
        }

        .nhapthongtin input.form-control {
            background-color: #f2f2f2;
            max-width: 93%;
        }

        .lammo {
            opacity: 0.35;
        }

        .search-home {
            width: 500px !important;
            max-width: 1000px;
            border-radius: 20px;
        }

        .navbar-collapse li.nav-item {
            margin: 0px 10px;
        }

            .navbar-collapse li.nav-item a {
                color: #3a3a38 !important;
                font-weight: bold;
                font-size: 18px;
            }

        .navbar-brand img {
            color: #1d2e62 !important;
            width: 70px;
        }

        .navbar-nav {
            width: auto;
        }

        #collapsibleNavbar {
            justify-content: center;
            margin-left: -333px;
        }

        .nav-item .nav-link {
            padding: 0;
            padding-top: 4px;
        }

        .navbar-brand-footer img {
            width: 70px;
        }

        #Cart_Amount {
            position: relative;
            top: -8px;
            right: 3px;
            font-size: 16px;
        }
        .img-logo {
            color: #1d2e62 !important;
            width: 70px;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin-left: 15%;
        }
    </style>

</head>
<body>
    <!-- BANNER ẢNH  -->
    @*<div class="banner">
            <img src="~/Assets/User/images/banner.png" alt="">
        </div>*@
    <!--NAVBAR - TOP -->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        @*<a class="navbar-brand" href="@Url.Action("Index","Home")">
            
        </a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")"><img src="~/Assets/User/image/LogoABC.png" alt="logo" class="img-logo" /></a>
                </li>

                <li class="nav-item">
                    <form style="position:relative" class="form-inline" action="/Home/search">
                        <input class="form-control mr-sm-2 search-home" type="search" name="search" id="search" value="@ViewBag.search" placeholder="Nhập từ khóa cần tìm">
                        <button class="icon_search_book" style="position:absolute;right: 16px;border: none; color :#3a3a38; " type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>


                @if (Session["TaiKhoan"] == null || Session["TaiKhoan"].ToString().Trim() == "")//!User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link home-login" href="@Url.Action("Login", "NguoiDung")">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home-signup" href="@Url.Action("Register", "NguoiDung")">Đăng Ký</a>
                    </li>
                }
                else
                {
                    KHACHHANG kh = Session["TaiKhoan"] as KHACHHANG;
                    <li class="nav-item">
                        <a class="nav-link home-signup" href="@Url.Action("Details", "NguoiDung")">@kh.TenKH</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link home-login" href="@Url.Action("Logout", "NguoiDung", new { urlString = Request.Url.OriginalString })">Đăng xuất</a>
                    </li>


                }
                @{ List<CartItem> lstGioHang = Session["ShoppingCart"] as List<CartItem>;
                    if (lstGioHang == null)
                    {
                        lstGioHang = new List<CartItem>();
                        Session["ShoppingCart"] = lstGioHang;
                    }
                    int cartcount = 0;
                    if (Session["ShoppingCart"] != null)
                    {

                        foreach (CartItem item in lstGioHang)
                        {
                            cartcount += item.Quality;
                        }
                    }

                }
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","GioHang")">
                        Giỏ hàng
                        <i class="fas fa-cart-plus"></i>
                        <span id="Cart_Amount">@cartcount</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="body-content" style="position:relative; top : 15px">
        @RenderBody()
        <hr />
    </div>

    @*HTML - FOOTER ---------------------------------------------------------------------*@

    <footer class="container-fluid">
        <div class="container-fluid footer-2">
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-md-3 logo-footer">
                        <a href="">
                            <img src="~/Assets/User/image/LogoABC.png" alt="logo" />
                        </a>
                    </div>
                    <div class="col-md-4 link-lk">
                        <h4>LIÊN HỆ</h4>
                        <a href="#">Địa chỉ : Tòa nhà Dream House, số 63, ngõ 136 Chùa Láng, Quận Đống Đa, Hà Nội</a>
                        <a href="#">Số Điện Thoại : 0916300750</a>
                        <a href="mailto:phungtruongmta@gmail.com">Email : phungtruongmta@gmail.com</a>
                    </div>
                    <div class="col-md-3 link-lk">
                        <h4>CHÍNH SÁCH</h4>
                        <a href="#">Điều khoản sử dụng</a>
                        <a href="#">Quy chế hoạt động</a>
                        <a href="#">Chính sách bảo mật</a>
                        <a href="#">Trung tâm chăm sóc khách hàng</a>
                        <a href="#">Chính sách hoàn tiền</a>
                    </div>
                    <div class="col-md-2 link-lk">
                        <h4>KẾT NỐI </h4>
                        <a href="https://www.facebook.com/phungtruong1799">Facebook</a>
                        <a href="https://www.youtube.com/channel/UC_471OgraODm17u-z-CsPCg?view_as=subscriber">YouTube</a>
                        <a href="https://blog.cloud365.vn/">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="back-to-top" style="display: none;">
        <div class="back-to-top-button">
            <i class="fas fa-angle-double-up"></i>
        </div>
    </section>
    <script type="text/javascript" src="~/Assets/User/js/backtotop.js"></script>


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*link slick========================================================*@
    <script src="/Scripts/slick/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="~/Scripts/slick/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).on('ready', function () {

            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
                autoplay: true,
                autoplaySpeed: 2000
            });
            //$("button").click(function () {
            //    $("p").toggle();
            //});
        });

    </script>

    <!--Ajax Process-->
    @{ int i = 0; string tenkh = "Bạn";
    }
    @if (Session["TaiKhoan"] == null)
    {
        i = 1;
    }
    else
    {
        if (Session["TaiKhoan"].ToString().Trim() == "")
        {
            i = 1;
        }
        KHACHHANG kh = Session["TaiKhoan"] as KHACHHANG;
        tenkh = kh.TenKH;
    }

    <script>
        var formatter = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        var makm="";
        var tbkhuyenmai = "";
        var giatriKhuyenMai = "";
        var tongtienlayout=0;

        function AddToCart(MaSach) {
            //lay controller kiem tra dang trong gio hang k
            var ktController = '@ViewContext.RouteData.Values["Controller"].ToString()';
            var ChiTietSoLuong = 0;
            if (document.getElementById("quantity") != null)
                ChiTietSoLuong = document.getElementById("quantity").value;
            else
                ChiTietSoLuong = 1;
            //alert(ChiTietSoLuong);

            $.ajax({
                type: 'POST',
                url: '/DauSach/AddToCart',
                data: { id: MaSach, quantity: ChiTietSoLuong },
                success: function (data) {
                    if (data.Success) {
                        $('#notifyModalLabel').text("Thông báo");
                        $('#errMessage').text("Sản phẩm đã được thêm vào giỏ hàng");
                        $("#notifyModal").modal('show');
                    }
                    else {
                        $('#notifyModalLabel').text("Lỗi");
                        $('#errMessage').text(data.ErrorMsg);
                        $("#notifyModal").modal('show');
                    }
                    $("#Cart_Amount").html(data.ItemAmount);

                    if (ktController == "GioHang")//kiem tra dang trong gio hang thi cap nhat
                        capNhatGiohang();
                }
            });
        }
        function capNhatGiohang() {
            $.ajax({
                type: 'POST',
                url: '/GioHang/CapNhat',
                data: { id: -1, sl: 0 },
                success: function (data) {
                    if (data.Success) {
                        //nothing
                    }
                    else {
                        $('#notifyModalLabel').text("Lỗi");
                        $('#errMessage').text(data.ErrorMsg);
                        $("#notifyModal").modal('show');
                    }
                    $("#Cart_Amount").html(data.sl);
                    $.post(data.Url, function (partial) {
                        $("#listItemCart").html(partial);
                        //AddToCart(-1);
                        $("#TongTien").attr("style", "color:red");
                        setTimeout(function () {
                            $("#TongTien").attr("style", "color:black");
                        }, 600);
                    });
                }
            });

        }

        function KhuyenMai() {
            debugger;
            var maKM= document.getElementById("coupon_code").value;
            var s = maKM.replace(/\s+/g, '').length;
            if (s == 0) {
                alert('Vui lòng nhập Mã Khuyến Mãi');
            }
            else
            {
                $.ajax({
                    type:'POST',
                    url: '/GioHang/KhuyenMai',
                    data: {id:maKM},
                    success: function (data) {
                        $("#SpanKhuyenMai").html(data.tb);
                        $("#prgb_discount").attr("style", "width:"+data.gt);
                        //$("#discount").html(data.gt)
                        $("#prgb_discount").html(data.gt)


                        var totalprice = parseFloat(document.getElementById("totalprice").innerHTML.replace(/,/g, ""));
                        makm = data.id;
                        tbkhuyenmai = data.tb + data.gt;
                        giatriKhuyenMai = (parseFloat(data.gt) / 100) * totalprice;
                        if (data.gt != "") {
                            $("#value_discount").html("-" + formatter.format(giatriKhuyenMai));
                            $("#totalpayment").html(formatter.format(totalprice - giatriKhuyenMai));
                            //capNhatGiohang();
                        }
                        else
                            $("#value_discount").html();


                    }
                });
            }

        }

        function CapNhat(Id) {
            
            var soluong = document.getElementById("SoLuong[" + Id + "]").value;
            console.log("Id: " + soluong)
            $.ajax({
                type: 'POST',
                url: '/GioHang/CapNhat',
                data: { id: Id, sl: soluong },
                success: function (data) {
                    if (data.Success) {
                        //nothing
                    }
                    else {
                        $('#notifyModalLabel').text("Lỗi");
                        $('#errMessage').text(data.ErrorMsg);
                        $("#notifyModal").modal('show');
                    }
                    $("#Cart_Amount").html(data.sl);    //sl navbar
                    $.post(data.Url, function (partial) {
                        $("#listItemCart").html(partial);
                        //AddToCart(-1);
                        $("#totalprice").attr("style", "color:red");
                        setTimeout(function () {
                            $("#totalprice").attr("style", "color:black");
                        }, 600);
                    });
                }
            });

        }
        function Remove(Id) {

            $.ajax({
                type: 'POST',
                url: '/GioHang/Remove',
                data: { id: Id },
                success: function (data) {
                    $("#Cart_Amount").html(data.sl);    //sl navbar
                    $.post(data.Url, function (partial) {
                        $("#listItemCart").html(partial);
                    });
                }
            });

        }
        function DatHang(KtDangNhap) {
            if (KtDangNhap == 1) {
                window.location.href = "/NguoiDung/Login";
            }
            else {

                $.ajax({
                    type: 'POST',
                    url: '/GioHang/DatHang',
                    data: {},
                    success: function (data) {
                        $.post(data.Url, function (partial) {
                            $("#GioHang").html(partial);
                        });
                    }
                });
            }
        }
        function DathangSubmit() {
            var ngayGiao = document.getElementById("NgayGiao").value;
            $.ajax({
                type: 'POST',
                url: '/GioHang/DatHangSubmit',
                data: { NgayGiao: ngayGiao, MaKM: makm },
                success: function (data) {
                    debugger;
                    if (data.success) {
                        $("#success").html(data.msg);

                        alert(data.msg + "\nKiểm tra đơn hàng tại trang cá nhân.");
                        window.location.href = "/Home/Index";
                    }
                    else {
                        alert(data.msg + "\.");
                    }
                }
            });
        }
        function BackToCart() {
            $.ajax({
                type: 'POST',
                url: '/GioHang/BackToCart',
                data: {},
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#GioHang").html(partial);
                    });
                }
            });
        }

        function CheckoutCart() {
        $.ajax({
            type: 'POST',
            url: '/GioHang/CheckoutCart',
            data: {},
            success: function (data) {
                $.post(data.Url, function (partial) {
                    $("#GioHang").html(partial);
                });
            }
        });
    }
    </script>
    <!--End Ajax Process-->
    </script>
    <!--End Ajax Process-->
    <!-- Modal -->
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notifyModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:red" id="errMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "GioHang")'">Giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
