@model IEnumerable<TriThucOnline_TTN.Models.DAUSACH>


<style>
    .pic_book_moi {
        height: 66%;
    }

    .title_book_moi {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 15%;
    }

    .price_book_moi {
        font-weight: 700;
        font-size: 20px;
        color: red;
    }
</style>


<div class="container">
    <div class="row" style="display:flex">
        @foreach (var item in ViewBag.SachBanChay)
        {

            <div class="col-sm-2" style="height:300px;">
                @*<td>@Model.Rows[i][0]</td>*@
                <a href="@Url.Action("Details", "DAUSACH", new { @id = item.MaSach })">

                    @*<img class="pic_book_moi" src="@Url.Content("/Content/HinhAnhSP/" + @item.PicBook)" alt="Alternate Text" />*@
                    <img class="pic_book_moi" src="~/Assets/User/image/khoahoc/khoa2.jpg" alt="Alternate Text" />
                    @*<p class="title_book_moi">@item.TenSach</p>*@
                    <p class="title_book_moi">Khóa Nâng Cao</p>
                </a>
                <p class="price_book_moi">@item.GiaTien</p>

            </div>
        }
    </div>
</div>
