@model TriThucOnline_TTN.Models.THELOAI

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Register/css/style.css">

<h2>Thêm thể loại</h2>
<h4 style="color:red">@ViewBag.ThongBao</h4>
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chủ đề</h4>
            @ViewBag.ThongBao
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.TenTL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TenTL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenTL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }*@
<form id='input_form' method='post' class="form-horizontal">

    <fieldset>
        <div class="form-group">
            <label for="TenTL" class="control-label col-md-3">Tên thể loại:</label>
            <div class="col-md-6">
                <input type="text" value="" name="TenTL" id="TenTL" size="25" class="required form-control" placeholder="Tên thể loại..." autofocus />
                @Html.ValidationMessageFor(model => model.TenTL, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <input type="reset" value="Điền lại" class="btn btn-default" />
            </div>
        </div>

    </fieldset>
</form>
<div>
    @Html.ActionLink("Trở về", "Index")
</div>
