@model TriThucOnline_TTN.Models.THELOAI

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Register/css/style.css">

<h2>Chỉnh sửa thể loại</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTL)

        
                @Html.EditorFor(model => model.MaTL, new { htmlAttributes = new { @class = "form-control", @hidden = ""} })

        <div class="form-group">
            <label class="control-label col-md-2">Tên thể loại</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.TenTL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
