
@using TriThucOnline_TTN.Models;

@model List<CartItem>


@foreach (var item in Model)
{
    <tr>
        <td class="cart_products-delete">
            <button style="border:none; background-color: white;" onclick="Remove('@item.productOrder.MaSach')">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
        <td>
            <img src="@Url.Content("/Content/HinhAnhSP/" + item.productOrder.PicBook)" alt="">
        </td>
        <td>
            <a href="@Url.Action("Details", "DAUSACH", new { @id = item.productOrder.MaSach })"><p>@item.productOrder.TenSach</p></a>
            <b>@string.Format("{0:0,0}", item.productOrder.GiaTien) VNĐ</b>
        </td>
        <td style="text-align:center">
            <div class="input-group soluong_giohang">
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="" onclick="CapNhatSoLuong('@item.productOrder.MaSach', '-')">
                        <span class="glyphicon glyphicon-minus">-</span>
                    </button>
                </span>
                <input type="text" id="SoLuong[@item.productOrder.MaSach]" name="quantity" class="form-control input-number" value="@item.Quality" min="1" max="100" step="1" type="number">
                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="" onclick="CapNhatSoLuong('@item.productOrder.MaSach', '+')">
                        <span class="glyphicon glyphicon-plus">+</span>
                    </button>
                </span>
            </div>
            <p style="margin:5px">Thành Tiền </p>
            <p style="color:#F11499">@string.Format("{0:0,0}", item.productOrder.GiaTien * item.Quality) VNĐ</p>
        </td>
    </tr>

}
@{double tongTien = 0;
    foreach (var item in Model)
    {
        tongTien += (double)item.productOrder.GiaTien * item.Quality;
    }
}
<script>
        $(document).ready(function () {
            //alert(makm);
            // text-decoration: line-through;
            @*var elem = document.getElementById("coupon_code");
            elem.value = makm;
            if (makm != "") {
                $("#SpanKhuyenMai").html(tbkhuyenmai);
                $("#KhuyenMaiBadge").html("-" + giatriKhuyenMai);

                var ele = document.getElementById("tongtien_div");
                ele.style.setProperty("text-decoration", "line-through");
                var giatri=giatriKhuyenMai.split('%');
                var tongtienjs =@tongTien- (giatri[0]/100) * @tongTien ;
                $("#tongtienkm").html(tongtienjs.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));

            }
            tongtienlayout=@tongTien;*@
            $("#totalprice").html('@string.Format("{0:0,0}", tongTien) VNĐ');
            $("#totalpayment").html('@string.Format("{0:0,0}", tongTien) VNĐ');
        });
    </script>