

@model IEnumerable<TriThucOnline_TTN.Models.DAUSACH>

<section class="center slider" style="">
    @foreach (var item in ViewBag.nuoidaycon)
    {
        <div style="height:300px">
            @*<td>@Model.Rows[i][0]</td>*@
            <a href="@Url.Action("Details", "DAUSACH", new { @id = item.MaSach })">

                <img class="pic_book" src="@Url.Content("/Content/HinhAnhSP/" + @item.PicBook)" alt="Alternate Text" />
                <p class="title_book">@item.TenSach</p>
            </a>
            <p class="price_book">@item.GiaTien</p>

        </div>
    }
</section>