@model TriThucOnline_TTN.Models.KHACHHANG

@{

    ViewBag.Title = "Register";
    Layout = "";
}


<link href="~/Content/Register/css/OleoScript.css" rel="stylesheet" />
<link href="~/Content/Register/css/PTSans.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Register/css/style.css">
@*font awesome*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
<style>

    

    /*các thông báo lỗi sẽ được chứa trong các label với class là error*/
    label.error {
        color: red;
    }
    .iphone img {
        width:50%;
    }
    .register-container{
        margin-top:100px;
    }
    .register{
        width:40%;
        margin:auto;
    }

    .logo.span4 h1 a {
        margin-left : 330px;
    }

    #btnSubmit {
        width: 100px;
        height: 50px;
        margin-right: 0;
        text-align: -webkit-center;
    }

    .btn_submit {
        margin-top: 45px;
        display: flex;
        justify-content: center;

    }
</style>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="logo span4">
                <h1><a href="">T&T IELTS Register <span class="red">.</span></a></h1>
            </div>
            <div class="links span8">
                <a class="home" href="" rel="tooltip" data-placement="bottom" data-original-title="Home"></a>
            </div>
        </div>
    </div>
</div>
<div class="register-container container">
    <div class="row">
        <div class="register span6">
            <form action="" id='input_form' method="post">
                <fieldset>
                    <h2>REGISTER TO <span class="red"><strong>T&T IELTS</strong></span></h2>

                    <label class="error">@ViewBag.ThongBao</label>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TenKH, "Họ và tên", new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input type="text" value="@Model.TenKH" name="TenKH" id="TenKH" size="25" class="required form-control" placeholder="Họ và tên..." autofocus />
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.SDT, "Số điện thoại", new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input type="number" value="@Model.SDT" name="SDT" id="SDT" size="25" class="required form-control" placeholder="Điện thoại..." />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, "Tên tài khoản", new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input type="text" value="" name="Username" id="Username" size="25" class="required form-control" placeholder="Tài khoản..." />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label col-md-6">Nhập mật khẩu</label>
                        <div class="col-md-10">
                            <input type="password" value="" name="Password" id="Password" size="25" class="required form-control" placeholder="Mật khẩu..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="control-label col-md-6">Nhập lại mật khẩu</label>
                        <div class="col-md-10">
                            <input type="password" value="" name="cpassword" id="cpassword" size="25" equalTo="#MatKhau" class="form-control" placeholder="Nhập lại mật khẩu..." />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input type="email" value="@Model.Email" name="Email" id="Email" size="25" class="required form-control" placeholder="Email..." />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaChi, "Địa chỉ", new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input type="text" value="@Model.DiaChi" name="DiaChi" id="DiaChi" size="25" class="required form-control" placeholder="Địa chỉ..." />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 btn_submit">
                            <button id="btnSubmit" type="submit" class="btn btn-group-vertical btn-success">Đăng Ký</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var validator = $("#input_form").validate({
            rules: {
                username: "required",
                password: {
                    required: true,
                    minlength: 6,
                },
                cpassword: {
                    equalTo: "#MatKhau"
                },
                //email: {
                //    required: true,
                //    email: true
                //},
                //Email: {
                //    required: true,
                //    Email: true
                //},

                DiaChi: "required",
                DienThoai: "required",

                HoTen: "required",
                NgaySinh: "required",
                TaiKhoan: "required",
                MatKhau: "required"



            },
            messages: {
                username: "Hãy điền tên đăng nhập.",
                password: {
                    required: "Hãy điền mật khẩu",
                    minlength: "Mật khẩu ít nhất 6 ký tự"
                },
                cpassword: {
                    equalTo: "Mật khẩu xác nhận không chính xác"
                },
                //email: {
                //    required: "Hãy nhập 1 địa chỉ email hợp lệ",
                //    email:"Địa chỉ email không hợp lệ"
                //},
                //Email: {
                //    required: "Hãy nhập địa chỉ email",
                //    Email: "Địa chỉ email không hợp lệ"
                //},

                DiaChi: "Hãy điền địa chỉ.",
                DienThoai: "Hãy điền số điện thoại.",

                HoTen: "Hãy điền họ tên.",
                NgaySinh: "Hãy chọn ngày sinh.",
                TaiKhoan: "Hãy điền tài khoản.",
                MatKhau: "Hãy điền mật khẩu."


            }
        });
    });
</script>
<style>
    /*các thông báo lỗi sẽ được chứa trong các label với class là error*/
    label.error {
        color: red;
    }
</style>







