@model TriThucOnline_TTN.Models.KHUYENMAI

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAmin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Register/css/style.css">

<h2>Chỉnh sửa khuyễn mãi</h2>
<h4 style="color:red">@ViewBag.ThongBao</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Mã khuyễn mãi</label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.MaKM, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.MaKM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="NgayBD" class="control-label col-md-3">Ngày bắt đầu khuyễn mãi:</label>
        <div class="col-md-6">
            <input type="date" value="@Model.NgayBD.Value.ToString("yyyy-MM-dd")" name="NgayBD" id="NgayBD" size="25" class="required form-control" placeholder="Ngày bắt đầu..." autofocus />
            @Html.ValidationMessageFor(model => model.NgayBD, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="NgayKT" class="control-label col-md-3">Ngày kết thúc khuyễn mãi:</label>
        <div class="col-md-6">
            <input type="date" value="@Model.NgayKT.Value.ToString("yyyy-MM-dd")" name="NgayKT" id="NgayKT" size="25" class="required form-control" placeholder="Ngày kết thúc..." autofocus />
            @Html.ValidationMessageFor(model => model.NgayKT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="GiaTriKM" class="control-label col-md-3">Giá trị khuyễn mãi (%):</label>
        <div class="col-md-6">
            <input type="range" min="0" max="100" value="@Model.GiaTriKM" name="GiaTriKM" id="GiaTriKM" size="50" placeholder="Giá trị..." autofocus />
            <label id="lblGiaTriKM">@Model.GiaTriKM %</label>
            @Html.ValidationMessageFor(model => model.GiaTriKM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="SoLanConLai" class="control-label col-md-3">Số lần còn lại:</label>
        <div class="col-md-6">
            <input type="text" value="@Model.SoLanConLai" name="SoLanConLai" id="SoLanConLai" size="25" class="required form-control" placeholder="Số lần sử dụng..." autofocus />
            @Html.ValidationMessageFor(model => model.SoLanConLai, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-warning" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
<script>
    var slideCol = document.getElementById("GiaTriKM");
    var y = document.getElementById("lblGiaTriKM");
    y.innerHTML = slideCol.value + "%";

    slideCol.oninput = function () {
        y.innerHTML = this.value + "%";
    }
</script>