<!DOCTYPE html>
<html>
<head>
    <title>Slick Playground</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/vendor/slick/slick-theme.css">
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 90%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

            .slick-slide img {
                width: 100%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }
        .pic_book {
            height: 80%;
        }

        .title_book {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 15%;
        }

        .price_book {
            font-weight: 700;
            font-size: 20px;
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3 class="text-secondary" style="padding-top: 25px">Sách liên quan:</h3>
            <section class="regular slider">
                @foreach (var item in ViewBag.sachtheotheloai)
                {
                    <div style="height:300px;">
                        @*<td>@Model.Rows[i][0]</td>*@
                        <a href="@Url.Action("Details", "DAUSACH", new { @id = item.MaSach })">

                            <img class="pic_book" src="@Url.Content("/Content/HinhAnhSP/" + @item.PicBook)" alt="Alternate Text" />
                            <p class="title_book">@item.TenSach</p>
                        </a>
                        <p class="price_book">@string.Format("{0:0,0}", item.GiaTien) VNĐ</p>

                    </div>
                }
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/vendor/slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".vertical-center-4").slick({
                dots: true,
                vertical: true,
                centerMode: true,
                slidesToShow: 4,
                slidesToScroll: 2
            });
            $(".vertical-center-3").slick({
                dots: true,
                vertical: true,
                centerMode: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
            $(".vertical-center-2").slick({
                dots: true,
                vertical: true,
                centerMode: true,
                slidesToShow: 2,
                slidesToScroll: 2
            });
            $(".vertical-center").slick({
                dots: true,
                vertical: true,
                centerMode: true,
            });
            $(".vertical").slick({
                dots: true,
                vertical: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 5,
                slidesToScroll: 5
            });
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 5,
                slidesToScroll: 3
            });
            $(".variable").slick({
                dots: true,
                infinite: true,
                variableWidth: true
            });
            $(".lazy").slick({
                lazyLoad: 'ondemand', // ondemand progressive anticipated
                infinite: true
            });
        });
    </script>

</body>
</html>